@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --purple:#8e44ad;
   --red:#c0392b;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
   
}

*::selection{
   background-color: var(--purple);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--purple);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

section{
   padding:1rem 2rem;
}

.empty{
   padding:1.5rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   color:var(--red);
   font-size: 2rem;
}

.message{
   position: sticky;
   top:0;
   margin:0 auto;
   max-width: 1200px;
   background-color: var(--white);
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 10000;
   gap:1.5rem;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   cursor: pointer;
   color:var(--red);
   font-size: 2.5rem;
}

.message i:hover{
   transform: rotate(90deg);
}

.title{
   text-align: center;
   margin-bottom: 2rem;
   text-transform: uppercase;
   color: rgb(13, 65, 71);
   font-size: 4rem;
}


.btn,
.option-btn,
.delete-btn,
.white-btn{
   display: inline-block;
   margin-top: 1rem;
   padding:1rem 3rem;
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   border-radius: .5rem;
   text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: var(--black);
}

.white-btn,
.btn{
   background-color:rgb(13, 65, 71);
   
}

.option-btn{
   background-color: #3d8ca3;
}

.delete-btn{
   background-color: var(--red);
}

.white-btn:hover{
   background-color: rgb(123, 123, 143);
   color: var(--black);
}

.heading{
   min-height: 70vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap:1rem;
   background: url(../images/14.jpeg) no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}
/* cart */
.cartheading{
   min-height: 70vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap:1rem;
   background: url(../images/34.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}
.cartheading h3{
   font-size: 5rem;
   color:rgb(13, 65, 71);
   text-transform: uppercase;
   margin-bottom: 5rem;
}
.cartheading p{
   font-size: 2.5rem;
   color:black;
}
.cartheading p a{
   color:black;
}

.cartheading p a:hover{
   text-decoration: none;
   color:#1f6174;
   font-weight: bold;
}

.contactheading{
   min-height: 70vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap:1rem;
   background: url(../images/7.jpg) no-repeat ;
   background-size: cover;

   background-position: center;
   text-align: center;
   

}
.headingorder{
   min-height: 70vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap:1rem;
   background: url(../images/4.jpeg) no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}

.headingshop{
   min-height: 70vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap:1rem;
   background: url(../images/6.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}
.headingshop h3{
   font-size: 5rem;
   color:rgb(13, 65, 71);
   text-transform: uppercase;
   margin-bottom: 5rem;
}
.headingorder h3{
   font-size: 5rem;
   color:rgb(13, 65, 71);
   text-transform: uppercase;
   margin-bottom: 5rem;
 
}
.contactheading h3{
   font-size: 4rem;
   color:rgb(13, 65, 71);
   text-transform: uppercase;
   margin-bottom: 5rem;
   margin-right: 7rem;

}
.headingshop p{
   font-size: 2.5rem;
   color:black;
}
.headingorder p{
   font-size: 2.5rem;
   color:black;
   
}
.headingorder p a{
   color:black;
}

.headingorder p a:hover{
   text-decoration: none;
   color:#1f6174;
   font-weight: bold;
}
.contactheading p{
   font-size: 2.5rem;
   color:black;
   margin-right: 8rem;
}
.contactheading p a{
   color:black;
   
}

.contactheading p a:hover{
   text-decoration: none;
   color:#1f6174;
   font-weight: bold;
}
.headingshop p a{
   color:black;
}

.headingshop p a:hover{
   text-decoration: none;
   color:#1f6174;
   font-weight: bold;
}
.heading h3{
   font-size: 5rem;
   color:rgb(13, 65, 71);
   text-transform: uppercase;
   margin-bottom: 5rem;
}

.heading p{
   font-size: 2.5rem;
   color:black;
}

.heading p a{
   color:black;
}

.heading p a:hover{
   text-decoration: none;
   color:#1f6174;
   font-weight: bold;
}

@keyframes fadeIn {
   0%{
      transform: translateY(1rem);
      opacity: .2s;
   }
}

.form-container{
   min-height: 100vh;
   background-color: var(--light-bg);
   display: flex;
   align-items: center;
   justify-content: center;
   padding:2rem;
}

.form-container form{
   padding:2rem;
   width: 50rem;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   background-color: var(--white);
   text-align: center;
}

.form-container form h3{
   font-size: 3rem;
   margin-bottom: 1rem;
   text-transform: uppercase;
   color:var(--black);
}

.form-container form .box{
   width: 100%;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
   margin:1rem 0;
}

.form-container form p{
   padding-top: 1.5rem;
   font-size: 2rem;
   color:var(--black);
}

.form-container form p a{
   color:rgb(13, 82, 111);
   font-weight: bold;
   
}

.form-container form p a:hover{
   text-decoration: none;
}

.header .header-1{
   background-color: #dae5e58f;
}

.header .header-1 .flex{
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   margin:0 auto;
}

.header .header-2{
   background-color: var(--light-white);
   box-shadow: var(--box-shadow);
}

.header .header-2.active{
   position: fixed;
   top:0; left:0; right:0;
   z-index: 1000;
}

.header .header-2 .flex{
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   margin:0 auto;
   position: relative;
}

.header .header-1 .flex .share a{
   font-size: 2.5rem;
   margin-right: 1.5rem;
   color:var(--black);
}

.header .header-1 .flex .share a:hover{
   color:var(--purple);
}

.header .header-1 .flex p{
   font-size: 2rem;
   color:var(--light-color);
}

.header .header-1 .flex p a{
   color:#1f94a7;
}

.header .header-1 .flex p a:hover{
   text-decoration: none;
   color:#3e4344;
}

.header .header-2 .flex .logo{
   font-size: 2.5rem;
   color:#03275ead;
   font-family: 'Verdana';
   font-size: 28px;
}

.header .header-2 .flex .navbar a{
   margin:0 1rem;
   font-size: 2rem;
   color:var(--light-color);
}

.header .header-2 .flex .navbar ul{
   list-style: none;
   text-decoration: none;
   padding-left: 1rem;
 
   padding-top: 1rem;
}
.header .header-2 .flex .navbar ul li{
   position: relative;
   float: left;
   text-decoration: none;
  
}
.header .header-2 .flex .navbar ul li a{
   font-size: 20px;
   padding: 0px;
   color:black;
   display: block;
   text-decoration: none;



}
.header .header-2 .flex .navbar ul li a:hover{
   
   color: rgb(5, 53, 141);
   
   display: block;
   
   text-decoration: none;
 
   
   
   

}
.header .header-2 .flex .navbar ul li ul{
  position: absolute;
    left: 3px;
    width: 134px;
    display: none;
   font-size: 18px;
    text-align: justify;
    text-decoration: none;

}
.header .header-2 .flex .navbar ul li ul li{
   width: 150%;
   border-top: 1ox solid rgb(228, 220, 220);
   background-color: rgb(182, 201, 209);
   padding: 0.5rem;
   border: 2px solid rgb(43, 41, 41);
   border-radius: 5px;
   text-decoration: none;
   
   
}
.header .header-2 .flex .navbar ul li:focus-within > ul,
.header .header-2 .flex .navbar ul li:hover > ul{
   display: initial;
}


.header .header-2 .flex .icons > *{
   font-size: 2.5rem;
   color:var(--black);
   cursor: pointer;
   margin-left: 1.5rem;
}

.header .header-2 .flex .icons > *:hover{
   color:var(--purple);
}

#menu-btn{
   display: none;
}

.header .header-2 .flex .user-box{
   position: absolute;
   top:110%; right:1rem;
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:2rem;
   text-align: center;
   width: 45rem;
   height: 17rem;
   display: none;
   animation: fadeIn .2s linear;
}

.header .header-2 .flex .user-box.active{
   display: inline-block;
}

.header .header-2 .flex .user-box p{
   font-size: 2rem;
   color:black;
   margin-bottom: 1.5rem;
}

.header .header-2 .flex .user-box p span{
   color: rgb(19 102 116);
    font-weight: bold;
}

.header .header-2 .flex .user-box .delete-btn{
   margin-top: 0;
}

.home{
   min-height: 70vh;
   background: url(../images/6.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.home .content{
   text-align: center;
   width: 60rem;
}

.home .content h3{
   font-size: 3.1rem;
   color: #18295a;
   text-transform: uppercase;
}

.home .content p{
   font-size:1.8rem;
   color: #4a0a0a;
   padding:1rem 0;
   line-height: 5.5;
   font-weight: bold;
}

.products .box-container{
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   align-items: flex-start;
   gap:3.5rem;
   justify-content: center;
}

.products .box-container .box{
   border-radius: 1.5rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   padding:2rem;
   text-align: center;
   border:var(--border);
   position: relative;
   height:100%;
   width:100%;
   
   
   
}

.products .box-container .box .image{
   height: 20rem;
   width:15rem;
   object-fit: contain;
  
}

.products .box-container .box .name{
   padding:1rem 0;
   font-size: 2rem;
   color:var(--black);
   font-weight: bold;
}

.products .box-container .box .qty{
   width: 40%;
   padding:0.5rem 1.4rem;
   border-radius: .5rem;
   border:var(--border);
   margin:1rem 0;
   font-size: 2rem;
}

.products .box-container .box .price{
   width: 40%;
   margin-left:8rem;
   padding: 0.5rem 0rem;
   border-radius: .5rem;
  
   
   font-size: 2rem;
   color:var(--black);
   
}

.about .flex{
   max-width: 1200px;
   margin:0 auto;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.about .flex .image{
   flex:1 1 40rem;
}

.about .flex .image img{
   width: 100%;
}

.about .flex .content{
   flex:1 1 40rem;
   padding:2rem;
   background-color: #e6e8ed;
}

.about .flex .content h3{
   font-size: 3rem;
   color:var(--black);
   text-transform: uppercase;
}

.about .flex .content p{
   padding:1rem 0;
   line-height: 2;
   font-size: 1.7rem;
   color:var(--light-color);
}

.home-contact{
   background-color: #e6e8ed;
}


.home-contact .content{
   max-width: 60rem;
   text-align: center;
   margin:0 auto;
}

.home-contact .content h3{
   font-size: 3rem;
   text-transform: uppercase;
   color: #0b6783;
}

.home-contact .content p{
   padding:1rem 0;
   line-height: 1.5;
  
   font-size: 1.7rem;
   color: #100f0f;

   font-weight: bold;
}



.contact form{
   margin:0 auto;
   background-color: var(--light-bg);
   border-radius: .5rem;
   border:var(--border);
   padding:2rem;
   max-width: 50rem;
   margin:0 auto;
   text-align: center;
}

.contact form h3{
   font-size: 2.5rem;
   text-transform: uppercase;
   margin-bottom: 1rem;
   color:var(--black);
}

.contact form .box{
   margin:1rem 0;
   width: 100%;
   border:var(--border);
   background-color: var(--white);
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
}

.contact form textarea{
   height: 20rem;
   resize: none;
}

.shopping-cart .box-container{
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   align-items: center;
   gap:7.5rem;
   justify-content: center;
}

.shopping-cart .box-container .box{
   text-align: center;
   padding:2rem;
   border-radius: 1.5rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   position: relative;
   border:var(--border);
   height:100%;
   width:100%;
}

.shopping-cart .box-container .box .fa-times{
   position: absolute;
   top:1rem; right:1rem;
   height: 2.5rem;
   width: 2.5rem;
   line-height: 2.5rem;
   font-size: 2rem;
   background-color: var(--red);
   color:var(--white);
   border-radius: .5rem;
}

.shopping-cart .box-container .box .fa-times:hover{
   background-color: var(--black);
}

.shopping-cart .box-container .box img{
  
   height: 20rem;
   width:15rem;
}

.shopping-cart .box-container .box .name{
   padding:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.shopping-cart .box-container .box .price{
   padding:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.shopping-cart .box-container .box input[type="number"]{
   margin:.5rem 1rem;
   border:var(--border);
   border-radius: .5rem;
   padding:0.5rem 1.4rem;
   font-size: 2rem;
   color:var(--black);
   width: 9rem;
   width: 30%;
}

.shopping-cart .box-container .box .sub-total{
   padding-top: 1.5rem;
   font-size: 2rem;
   color:var(--light-color);
}

.shopping-cart .box-container .box .sub-total span{
   color:var(--red);
}

.shopping-cart .cart-total{
   max-width: 655px;
   margin:0 auto;
   margin-top: 1rem;
   border:var(--border);
   padding:2rem;
   text-align: center;
   margin-top: 2rem;
   border-radius: .5rem;
}

.shopping-cart .cart-total p{
   font-size: 2.5rem;
   color:var(--light-color);
}

.shopping-cart .cart-total p span{
   color:var(--red);
}

.shopping-cart .cart-total .flex{
   display: flex;
   flex-wrap: wrap;
   column-gap:1rem;
   margin-top: 1.5rem;
   justify-content: center;
}

.shopping-cart .disabled{
   pointer-events: none;
   opacity: .5;
   user-select: none;
}

.display-order{
   max-width: 1200px;
   margin: 0 auto;
   text-align: center;
   padding-bottom: 0;
}

.display-order p{
   background-color: var(--light-bg);
   color:black;
   font-size: 2rem;
   padding:1rem 1.5rem;
   border:var(--border);
   display: inline-block;
   margin:.5rem;
   font-weight: bold;
}

.display-order p span{
   color:var(--red);
}

.display-order .grand-total{
   margin-top: 2rem;
   font-size: 2.5rem;
   color:black;
   font-weight: bold;
}

.display-order .grand-total span{
   color:var(--red);
}

.checkout form{
   max-width: 1200px;
   padding:2rem;
   margin:0 auto;
   border:var(--border);
   background-color: var(--light-bg);
   border-radius: .5rem;
}

.checkout form h3{
   text-align: center;
   margin-bottom: 2rem;
   color:var(--black);
   text-transform: uppercase;
   font-size: 3rem;
}

.checkout form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
}

.checkout form .flex .inputBox{
   flex:1 1 40rem;
}

.checkout form .flex span{
   font-size: 2rem;
   color:var(--black);
}

.checkout form .flex select,
.checkout form .flex input{
   border:var(--border);
   width: 100%;
   border-radius: .5rem;
   width: 100%;
   background-color: var(--white);
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   margin:1rem 0;
}

.placed-orders .box-container{
   max-width: 1200px;
   margin:0 auto;
   display:flex;
   flex-wrap: wrap;
   align-items: center;
   gap:1.5rem;
}

.placed-orders .box-container .empty{
   flex:1;
}

.placed-orders .box-container .box{
   flex:1 1 40rem;
   border-radius: .5rem;
   padding:2rem;
   border:var(--border);
   background-color: var(--light-bg);
   padding:1rem 2rem;
}

.placed-orders .box-container .box p{
   padding:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.placed-orders .box-container .box p span{
   color:rgb(11, 11, 97);
}

.search-form form{
   max-width: 1200px;
   margin:0 auto;
   display: flex;
   gap:1rem;
}

.search-form form .btn{
   margin-top: 0;
}

.search-form form .box{
   width: 100%;
   padding:1.2rem 1.4rem;
   border:var(--border);
   font-size: 2rem;
   color:var(--black);
   background-color: var(--light-bg);
   border-radius: .5rem;
}








 

.footer{
   background-color: var(--light-bg);
}

.footer .box-container{
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:3rem;
}

.footer .box-container .box h3{
   text-transform: uppercase;
   color:var(--black);
   font-size: 2rem;
   padding-bottom: 2rem;
}

.footer .box-container .box p,
.footer .box-container .box a{
   display: block;
   font-size: 1.7rem;
   color:var(--light-color);
   padding:1rem 0;
}

.footer .box-container .box p i,
.footer .box-container .box a i{
   color:var(--purple);
   padding-right: .5rem;
}

.footer .box-container .box a:hover{
   color:var(--purple);
   text-decoration: underline;
}

.footer .credit{
   text-align: center;
   font-size: 2rem;
   color:var(--light-color);
   border-top: var(--border);
   margin-top: 2.5rem;
   padding-top: 2.5rem;
}

.footer .credit span{
   color:var(--purple);
}




/* media queries  */
@media screen and (max-width: 768px) {
   .products .box-container .box {
     height: 100%;
   }
 }

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .header-2 .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .header-2 .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .header-2 .flex .navbar a{
      display: block;
      font-size: 2.5rem;
      margin:2rem;
   }

   .home .content h3{
      font-size: 3.5rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading h3{
      font-size: 3.5rem;
   }

   .title{
      font-size: 3rem;
   }

}